/* CSS Document */

/* CSS Document */
#WrapperAssesmentServiceDescription label{
	width:45px !important
	} 
#AssesmentServiceShowPerPage{
	width:60px !important;}
.button_area_filter{
	margin:0 auto;
	}
