/* CSS Document */
#WrapperServiceServiceDescription label{
	width:45px !important}
#WrapperEmail label{
	width:45px !important	
}
#ServiceServiceShowPerPage{
	width:60px !important;}
.button_area_filter{
	margin:0 auto;}
#WrapperServiceDevicename label{
	width:50px;}