/* CSS Document */
#PosBrandName{
	width:210px;} 

#PosBrandEditForm{
	 width:560px;
	 margin:0 auto;
	}
	
#PosBrandAddress{
	width:200px;
	}
.button_area{
	 margin-top:50px !important;
	}
#duplicateMessage{
		display:none;
		color:#FF0000;
		 padding-left: 10px;
	}