/* CSS Document */
.form {
    margin: 0 auto;
    width: 100% !important;
}
	
#s2id_PosSupplierPosSupplierTypeId{
	width:212px;
	}
	
 
#left,#right{
	float:left;
	}
#PosSupplierEditForm{
	width:70%;
	margin-left:120px;
	}
#right{
	padding-left:45px;
	}
#PosSupplierNote{
	height: 76px;
    width: 225px;
	}