@charset "UTF-8";
/* CSS Document */
.flexigrid_report {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: relative;
	border: 0px solid #eee;
 	color: #000;
}
.flexigrid_report div.hDiv_report {
/*	background: #fafafa url(../../img/grid/fhbg.gif) repeat-x bottom;
*/	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
 	height:32px;
}
.flexigrid_report div.hDivBox_report {
	float: none;
 }
 
  .flexigrid_report div.hDiv_report th, div.colCopy {
    cursor: default;
    font-weight: normal;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
}
 .flexigrid_report div.hDiv_report th, .flexigrid div.bDiv_report td {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #DDDDDD;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    vertical-align: top !important;
	font-weight:bold;
}
 .flexigrid_report div.bDiv_report td {
   	font-weight:normal;

 }
 
 .flexigrid_report .flexme3 tr td div{
 	min-height:16px;
	padding-top:5px;
 }
.flexigrid_report div.hDiv_report th div, .flexigrid_report div.bDiv_report td div, div.colCopy div {
    border-left: 0 solid #FFFFFF;
    padding: 5px;
}
.flexigrid_report div.bDiv_report {
    border-style: none solid solid;
}
.flexigrid_report div.bDiv_report {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
 }

.flexigrid_report div.bDiv_report table {
/*    border-bottom: 1px solid #CCCCCC;
*/}
 .flexigrid_report div.bDiv_report table {
    margin-bottom: 10px;
}

.flexigrid_report div.bDiv_report td {
    border-bottom: 1px solid #FFFFFF;
    vertical-align: top;
   /* white-space: nowrap;*/
}
 
.flexigrid_report div.bDiv_report td div {
    border-top: 0 solid #FFFFFF;
    padding-bottom: 4px;
}
 .flexigrid_report tr.altrow td.sorted {
    background: none repeat scroll 0 0 #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
 .flexigrid_report tr.altrow td {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
}
.reportheading
{
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:5px;
}