@charset "utf-8";
/* CSS Document */
h2.customer_heading{
	font-weight:bold;
	font-size:20px;
	}
h2.company_heading_right{
	width:238px;
	float:right;
	font-weight:bold;
	font-size:20px;
	}
.customer_left_div{
	float:left;
	}
.title_div_logo{
    float: left;
    width: 334px;
	}
.title_logo_right{
    float: inherit;
    margin-left: 138px;
    width: 225px;
	}
.print_img{
	   padding-right:10px;
  }
.Print_Button{
   font-weight:bold;
  }
.full_div_report_wrapper {
	height: 800px;
	width: 740px;
}
.sec_div_wrapper {
	height: 470px;
	margin: auto;
	width: 730px;
}
.logo_div {
	float: right;
	height: 60px;
	width: 80px;
}
.company_title_div {
	height: 150px;
	width: 707px;
}
.company_title {
	_height: 50px;
	_width: 230px;
	_float:right;
    float: left;
    height: 83px;
}
.company_title p {
	font-size: 15px;
	text-align:center;
}
.company_title h1 {
	height:18px;
	text-align:center;
	font-family:LilyUPC;
	font-size:35px;
	
}
.customer_info_div {
	_float: left;
	height: 240px;
	width: 728px;
}
.customer_info_div div {
	_float: left;
	height: auto;
	width:350px;
}
.customer_left_div p {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial;
	text-align: left;
	font-size:9pt;
	line-height:16px;
}
.customer_info_p {
	height: 73px;
	width: 360px;
	margin-top:18px;
}
.customer_info_p p {
	padding: 0 0 1px 6px;
}
.customer_right_div {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial;
	text-align: left;
	font-size:8pt;
	float:left;
}
.customer_right_div p {
	padding: 0 0 1px 6px;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial;
	text-align: right;
	font-size:9pt;
	line-height:17px;
}
.customer_info_right {
	width:234px !important;
	float:right !important;
}
.customer_info_table {
	float: right !important;
	width: 300px !important;
}
th.captionMiddleLeft {
	background-color: #DDDDDD;
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	text-align: left;
	vertical-align: middle;
	border:1px solid black;
	text-align:center;
}

td.captionMiddleLeft {
	border:1px solid black;
	text-align:center;
}
td.captionLeft {
	border:1px solid black;
	padding:4px;
}
td.captionBorder {
	border:1px solid black;
	background-color: #DDDDDD;
}

.product_table_div {
	width:730px;
	height:75px;
	float:left;
}
.full_data_div {
	width:700px;
	height:auto;
	float:left;
}

.shippling_info_div{
	width:700px;
	height:auto;
	float:left;
	margin-top:20px;
	}
.table-bordered {
	border: 1px solid #DDDDDD;
	border-collapse: separate;
	margin-top:12px;
	width:100%;
}
.table-bordered th + th, .table-bordered td + td, .table-bordered th + td, .table-bordered td + th {
	border-left:1px solid #DDDDDD;
}
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
	border-top:0 none;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
	background-color:#F9F9F9;
}
.table-condensed th, .table-condensed td {
	padding: 4px 5px;
}
td, th {
	text-align: left;
	white-space: nowrap;
}
h3.invoice_h {
	font-size: 18px;
	line-height: 27px;
}
th.numeric {
	font-weight:bold;
	background-color: #DDDDDD;
}
th.total_price {
	font-weight:bold;
	background-color: #DDDDDD;
	text-align:right;
}
.reviewer_div {
	width:730px;
	height:100px;
	float:left;
	margin-top:25px;
}
p.review_p {
	padding: 0 0 0 11px;
	color: #000000;
	font-family: Arial;
	text-align: left;
	font-size:8pt;
}
td.captionBorderBelow {
	border:1px solid black;
	background-color: #DDDDDD;
	padding:6px;
}
td.captionShipping {
	border:1px solid black;
	background-color: #DDDDDD;
	padding:6px;
	text-align:center;
}


