 /* CSS Document */
	.microcontroll label{
		width:130px;
		font-weight: none !important; 
	}
  	.form{
			width:85% !important;
	}
	#supplier{margin-left:25px; }
 
	#supplier tr{
		padding:3px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;	
		}
	#productinfo tr{
		padding:3px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
	}
	#productinfo{
		margin-left:25px;
 	}
 	
	
 	.pdetail th {height:25px;
	text-align:center;
	padding-bottom:2px;
	padding-top:5px;
    background: url("../../../img/grid/bg.gif") repeat-x scroll center top #FAFAFA;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    position: relative;	}	

.ProductSalesprices{
    float: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-right: 4px;
    text-align: right;
    width: 300px;
}
 
.accounts{
	width:100px;
}

.button_area {
    margin-top: 4px;
    padding: 3px;
    text-align: center;
 }
	.ui-button { margin-left: -1px; }
	.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
	.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; width:200px;}
	 
#columns .widget {
    -moz-border-radius: 4px 4px 4px 4px;
    margin: 10px 10px 0;
    padding: 2px;
	float:left;
	width:441px;
}
 .color-blue {
    background: none repeat scroll 0 0 #abc;
}
#columns .widget .widget-head {
    color: #000000;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 100%;
}
.widget-head a.collapse {
    background: url("img/buttons.gif") no-repeat scroll -52px 0 transparent;
    display: inline;
    float: right;
    height: 14px;
    margin: 8px 0 8px 4px;
    outline: medium none;
    text-indent: -9999em;
    width: 14px;
}
.widget-head a.remove {
    background: url("img/buttons.gif") no-repeat scroll -24px 0 transparent;
    display: inline;
    float: right;
    height: 14px;
    margin: 8px 4px 8px 0;
    outline: medium none;
    text-indent: -9999em;
    width: 14px;
}
 
#columns .widget .widget-content {
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    background: #fff;
    color: #000;
    line-height: 1.2em;
     padding: 7px 0;
}
#columns .widget .widget-content tr {
    list-style: disc outside none;
    padding: 5px 0 5px 5px;
}
#columns .widget .widget-content tr td {
    padding: 3px 0;
	border:1px dotted #f8f8f8;
	vertical-align:top;
}
#columns .widget .widget-head h3 {
    float: left;
    padding: 0 5px;
}
 .color-red h3, .color-blue h3, .color-orange h3 {
    color: #FFFFFF;
}
#PatientDetailsbox , #patientTestbox
{
	width:365px;
}

/* ========================= OverWrite common css ===============*/
 
#PatientDetailAddForm .microcontroll label {
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-right: 4px;
    text-align: right;
    width: 116px;
}
/* ========================= OverWrite common css ===============*/
 
.textheading
{
	text-align:right;
	font-weight:bold;
	width:114px;
	padding-right:5px;
	padding-bottom:7px;
}
#PatientDetailPSex
{
	width:180px;
}
.microcontroll select 
{
	width:180px;
}
 
 
.productlist td span {
      float:left;
	  text-align:center !important;
	  width:100%;
}
.productlist td .testvalli
{
	width:292px;
}
.deleverytime {
	font-size:10px;
	width:60px;
} 
.productlist td .testamountli
{
	width:35px;
}
 
.deletelink
{
	background:url(../../../img/icons/delete1.png) no-repeat;
	 height: 15px;
    width: 17px;
	margin-left:13px;
}
#WrapperPatientDoctorID div
{
	float:right;
	margin-right:25px;
}
#PatientDetailDoctorId{
	width:180px;
}
 
 
#btn_PatientDetails_edit_link {
    float: right;
	margin-top: -6px  ;

}
.button_area_noline {
	width:90%;
	padding:0px;
 }
#patienteditcontent{
	width:800px;
}
 
#supllier{
 }
 #PosPurchasePosSupplierId{
	width:145px;
}
#first{
	float:left;
 	}
#second{
 	float:left;
  }
 
 #info{
border:1px solid #006666;} 
#PosPurchasePurchaseDate{
width:145px;
}
#WrapperPosPurchasemobile{
float:left;
}
.accounts{
float:right;
width:310px;
text-align:center;
}
#PosPurchasePosSupplierId,#PosPurchasePurchaseDate{
	width:230px;}
	
tr.altrow td.sorted {
    background: none repeat scroll 0 0 #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
	}	
#tax_hidden{
	display:none;
	}
#PosPurchaseManualInvoiceId{
	width:230px;
	}
.pop_up_add_product #image{
	background-image:url(../../../img/toolbar/Add.png);
	display: block;
    height: 24px;
    width: 24px;
	}
.pop_up_add_product{
	float:left;
	margin-left: 25px;
	cursor:pointer;
	}
#s2id_PosProductName{
	float:left;
	}
#WrapperPosProductName{
	margin-bottom:38px !important;}
.pop_up_add_product #text:hover {
 	color: green;
	}
	#PosPurchaseAmountTax ,#PosPurchaseAmountDiscount , #PosPurchaseAmountPayableAmount , #PosPurchaseAmountPayamount , #PosProductAccountHead , #s2id_PosPurchaseAmountAccountHead ,#PosPurchaseAmountTransport , #PosPurchaseAmountOthersFee  {
		float: left;
		margin-bottom: 4px;
		width: 140px;
	}
	#PosPurchaseAmountTotalprice{
		width:140px;
	}
  #PosPurchaseAmountPayamount{
	float:left;
	margin-right:32px;
	
}
	
#PosPurchaseAmountIsTax{
	margin-left:20px;
	}
 
	
label[for=PosPurchaseAmountIsTaxLavel]{
	margin-left: 29px;
    width: 30px;
	}
#s2id_PosPurchaseAmountIsTax{
	width:85px !important;
	}