/* CSS Document */ 
#PosPurchasePosSupplierId{
	width:145px;
	}
.commoncheckbox{
margin-left:13px;}
.lastRowCal td {
    border-top: 1px solid #000000;
    font-size: 12px !important;
    font-weight: bold !important;
}

.lastRowCal td {
    border-top: 1px solid #000000;
    font-size: 12px !important;
    font-weight: bold !important;
}

#invoice
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
 }
 
.heading , #Test_total_amount
{
	font-weight:bold;
 }
 .invoicetop tr td span ,.heading span{
 	font-weight:normal;
  }
 .invoicetop tr td , #Test_description tr td ,#Test_total_amount tr td{
 	height:21px;
	font-size:10px;
  }
 .left_part
 {
 	width:44%;
 }
.center_part
{
	width:22%;
}
.right_part
{
	width:%;
}
.topbold
{
	font-size:11px;
	font-weight:bold;
	text-align:center !important;
 }
 .testlist_report {
 	border-bottom:1px dotted #999999;
 }
#Test_total_amount ,#labreport
{
	margin-top:12px;
 }
#labreport
{
  	border-top:1px dotted #999999;
	margin-top:19px;
}
.lablistseparator{
	border-top:1px dotted #999999;
}

 #WrapperPosPurchaseDescription label{
	width:45px !important}
#WrapperEmail label{
	width:45px !important	
}
#PosPurchaseShowPerPage{
	width:60px !important;}
.button_area_filter{
	margin:0 auto;}

#WrapperPosPurchaseDescription{
	float:right;
}