 /* CSS Document */
 #s2id_PosSaleReturnPosCustomerId{
 	width:190px;
	}
 .returnsfull {
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px 5px 5px 5px;
    color: #036FAD;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 0 8px 1px;
    position: relative;
}
 
 #returntitle{
 	height:25px;
	text-align:left !important;
	color: #036FAD;}
 .info_tables_rd {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
	height: 55px;
	font-weight:bold;
}
 .info_tables_salesreturns {
 	padding-top:5px;
    background: none repeat scroll 0 0 #CCCCCC;
    border: 1px solid #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
	height: 25px;
	font-weight:bold;
}
 #WrapperPosSaleReturnQuantity{
	margin-left: 30px;
    padding-top: 40px;}
 
 #PosSaleReturnIndexForm{
 	width:400px;
	margin-left:430px;}
#PosSaleId{
	width:190px !important;}	
.button_area_filter{
	margin-left:95px !important;}
	
 #PosSaleReturnPosCustomerId{
 	width:150px;
	}
.doctor_patient_list{
	margin-right:25px !important;}
	
.flexigrid div.hDiv{
	height:26px !important;}
#returninstock{
	color: #036FAD;
	}
#productdetails{
	margin:0px auto;
	width:340px;
	}
 
 #columns{
	width:1326px;
	height:452px;
	}
#PosSaleAmountItemCode{
	width:200px;
	}
#PosSaleAmountQuantity{
		width:200px;
	}/* CSS Document */
/* CSS Document */
.heading_title_patientlist
{
	border:1px solid #CCCCCC;
	height:30px;
	text-align:center;
 }
.heading_title_patientlist li
{
  background: none repeat scroll 0 0 #5D5D5D;
    border: 1px solid #F2F2F2;
    color: #FFFFFF;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding-top: 8px;

}
 
.ui-icon
{
	float:left;
}
.ui-accordion-header a
{
	float:left;
	text-align:center;
}

.ui-accordion-header{
    float: left;
    height: 21px;
   
    padding-top: 7px;
    vertical-align: middle;
    width: 99.8%;
}
.name{
	width:19px;
}
.id{
	width:16px;
}
.reportdelivery {
    float: right;
    margin-top: -5px;
    width: 96px;
}

#PatientDetailDoctorId{
width:220px;
}
 
#DoctorPaymentDoctorId{
width:163px;
}

.product_detail_list
{
	border: 1px solid #F2F2F2;
    margin-top:1px;
    width: 100%;
  background: url("images/ui-bg_highlight-soft_25_0073ea_1x100.png") repeat-x scroll 50% 50% #F6F6F6;
    border: 1px solid #9D9D9D;
    color: #333333;
	padding:10px;
	float:left;
}
.product_detail_list tr th
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	border:1px solid #f2f2f2;
	text-align:center !important;
}
.product_detail_list tr td
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #f2f2f2;
	text-align:center !important;
}


.header_ul li{
	float:left;
	text-align:center;
}
.button_area_filter{
	margin-top:15px;
}
#PatientDetailsId{
	width:35px !important;
}
#accordions{
	height:auto !important;}
 

 
