/* CSS Document */
.form {
    margin: 0 auto;
    width: 885px;
}
	
#left,#right{
	float:left;
	}
	

#right{
	padding-left:45px;
	}
#PosCustomerNote{
	height: 135px;
    width: 225px;
	}
#duplicateMessage {
    margin-left: 135px;
  }
#PosCustomerNote{
	width: 225px;
	height: 110px;
	}