/* CSS Document */
/* CSS Document */
.status_view {
    background: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    color: #00F;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
    position: relative;
}

.ReportDelivery {
	width:876px;
}
.ui-accordion .ui-accordion-content , .ui-accordion .ui-accordion-icons{
	overflow:visible !important;
	padding:0px !important;
}
.heading_title_patientlist
{
	border:1px solid #CCCCCC;
	height:30px;
	text-align:center;
 }
.heading_title_patientlist li
{
  background: none repeat scroll 0 0 #5D5D5D;
    border: 1px solid #F2F2F2;
    color: #FFFFFF;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding-top: 8px;

}
 
.ui-icon
{
	float:left;
}
.ui-accordion-header a
{
	float:left;
	text-align:center;
}

.ui-accordion-header{
    float: left;
    height: 21px;
    padding-top: 7px;
    vertical-align: middle;
    width: 99.8%;
}
.name{
	width:19px;
}
.id{
	width:16px;
}
.reportdelivery {
    float: right;
    margin-top: -5px;
    width: 876px;
}

#PatientDetailDoctorId{
width:220px;
}
.button_area_filter{
margin-left:314px;
}
#DoctorPaymentDoctorId{
width:163px;
}

.doctor_patient_list
{
	margin-top:1px;
	width: 100%;
	background: url("images/ui-bg_highlight-soft_25_0073ea_1x100.png") repeat-x scroll 50% 50% #F6F6F6;
	color: #333333;
 	float:left;
}
.doctor_patient_list tr th
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	border:1px solid #f2f2f2;
	text-align:left !important;
	font-size:11px;
}
.doctor_patient_list tr td
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #f2f2f2;
	text-align:left !important;
}


.header_ul li{
	float:left;
	text-align:center;
}
.button_area_filter{
	margin-top:15px;
}
#PatientDetailsId{
	width:35px !important;
}

.microcontroll input[type="text"] {
	width:100px !important;
}
