#invoice1 #PosPcategoryName {
	width:204px !important;
}
#invoice1 div#WrapperPosPcategoryName label ,#invoice1 #WrapperPosPcategoryDescription label {
	float:left !important;
	width:85px !important;
}
#PosPcategoryAddForm{
	 margin:0 auto;
	}
	
#PosPcategoryName,#PosPcategoryDescription{
	width:200px;
	}
.button_area{
 	}
 #duplicateMessage{
 	display:none;
}
	
