/* CSS Document */

.microcontroll label {
    float: left !important;
   }
#PosProductName{
		width:234px !important;
	}
#PosProductDescription{
	width:225px;
	}
.button_area {
     margin-top: 27px !important;
}
#alreadyproduct {
    border-left: 1px solid #999999;
    float: left;
    margin-top: 12px;
    min-height: 320px;
    width: 670;
}
#PosProductPurchaseprice,#PosProductSalesprice,#PosProductInStock,#PosProductReorder{
	width:235px !important;}
 
 #addNewDeviceButton {
    float: right;
    width: 113px;
	}
#addNewDeviceButton{
	margin-top: 0px !important;
	}
#addNewBrand,#addNewCategory {
    padding: 2px !important;
    width: 90px;
}
#WrapperPosProductPosTypeId,#WrapperPosProductParentId{
	display:none;}
.posProducts{
	width:95%;
	margin:0 auto}
#left{
	float:left;
	width:49%;
}
#right{
	width:49%;
	float:left;
}
#CompitablityArea
{
		border:1px solid #f2f2f2;
		width:100%;
}
#CompitablityArea .microcontroll label {
    float: none !important;
}
 
#btn_PosCompatability_search , #btn_PosCompatability_reset{
	border-width: 2px;
    color: #565656;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 130%;
    margin: 0 7px 0 0;
    padding: 5px 10px 6px 7px;
    text-decoration: none;
    width: 75px;
}
.add_pos_compatability , .PosCompatibilityRemoveA ,.compatability_title{
  background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    color: #036FAD;
    cursor: pointer;
    display: inline-block;
     font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
    position: relative;
}
.view_table tr td:first-child , 
.view_table tr td:nth-child(2) {
    font-weight: normal !important;
 }
 
.view_table tr th, .view_table tr td  {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
 }
#PosProductBarcode{
	width:250px;
	}
#PosProductColorColorId{
	height: 80px;
    width: 235px;
}
#duplicateMessageBarcode{
	color:#FF0000;
}