#WrapperInventorySearch .button_area_filter{
	display:inline !important;
	margin:0px !important;
	padding:0px !important;
}
	.bDiv{
		widtd:785px !important;}
	.add_inventory{
		background: #FFFFFF;
		border: 1px solid #D7D7D7;
		border-radius: 5px;
		color: #036FAD;
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		padding: 3px 7px;
		position: relative;
		cursor:pointer;
	}
	#PosProductPosBrandId{
		widtd:200px;
	}
	.hDivBox table{
		margin-bottom:6px !important;
	}
	.hDivBox table th div{
		text-align:center;
		padding:10px !important;
	}