/* CSS Document */

/* CSS Document */
#WrapperAssesmentInventoryDescription label{
	width:45px !important
	}
#WrapperEmail label{
	width:45px !important	
	}
#AssesmentInventoryShowPerPage{
	width:60px !important;}
.button_area_filter{
	margin:0 auto;
	}
