/* CSS Document */
#GroupGroup
{
	width:237px;
	border-radius: 4px;
	height:150px;
}
#WrapperUserJoindate label
{
	vertical-align:top;
}
#MenuController , #MenuAction
{
	width:207px;
}
.Permissions
{
	width:360px;
	margin:0 auto;
}
.microcontroll label {
	float:left;
	width:120px;
}
.button_area {
	margin-left:148px;
}
#PermissionAction
{
	height:50px;
}